body{
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
main div#tiles_list{
    /* flex: 1; */
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: horizontal;
    width: 25%;
    min-width: 100px;
    max-width: 980px;
}
main div#code{
    position: relative;
    flex: 3;
    display: block;
    overflow: scroll;
    border: 2px dashed #aaa;
    min-height: 100px;
    margin: 16px;
    border-radius: 8px;
}