tile.condition{
    background-color: rgb(132, 132, 190);
}
tile.logical{
    background-color: rgb(183, 151, 214);
}
tile.constant{
    background-color: rgb(120, 243, 167);
}
tile.validation{
    background-color: rgb(243, 120, 120);
}
tile.definition{
    background-color: rgb(173, 241, 250);
}

tileGroup {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
  
tileItem {
    position: relative; 
    margin: 10px;
}
  
tile {
    position: absolute;
    display: block;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 320px;
    padding: 10px;
    box-sizing: border-box;
}
  
tileHeader {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    gap: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

tileHeader *{
    border: none;
    flex: 1;
    border-radius: 8px;
} 

tileBody {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 20px;
    min-width: 90%;
    border-radius: 8px;
    margin-top: 10px;
}

tileBody:has(tile){
    padding: 10px;
    box-sizing: border-box;
}

tile:not(:has(tileBody)) {
}
  
tile:has(tileBody) {
}
